/* https://github.com/yihui/xaringan/wiki/Font-Size */
.large { font-size: 130% }
.small { font-size: 70% }
.tiny{ font-size: 40% }
div.my-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.my-right-footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
}